/*//////////////////////////////////////////
				관람안내.CSS
///////////////////////////////////////////*/
@charset "UTF-8";

a.scroll {
  top: 25%;
  position: absolute;
  /* position:fixed; */
  cursor: pointer;
  display:block;
  letter-spacing: -1px;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #fff;
  line-height: 60px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  right: 5%;
  z-index: 999;
}
a.scroll:hover {
  background: rgba(0, 0, 0, 0.4);
}

a.scroll:hover span {
  color: #fff;
}
div.main {
  background: url(../images/p_images/main-1.png) no-repeat center/cover;
}
/* div.main div.current{
  z-index: 1;
}
div.main div{
  position: absolute;
  width: 100%;
  height:600px;
} */
/* div.main div:nth-child(1){ background: url(../images/p_images/main-1.png) no-repeat center/cover;}
div.main div:nth-child(2){ background: url(../images/p_images/main-2.png) no-repeat center/cover;}
div.main div:nth-child(3){ background: url(../images/p_images/main-3.png) no-repeat center/cover;}
div.main div:nth-child(4){ background: url(../images/p_images/main-4.png) no-repeat center/cover;}
div.main div:nth-child(5){ background: url(../images/p_images/main-5.png) no-repeat center/cover;} */
/* .main video{
  width : 100%;
  height: auto;
} */


#largeImg {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#largeImg img {
  width: 100%;
  transition: all 0.6s;
}
#largeImg:hover img{
transform: scale(1.1);
}
.thumbs {
  width: 87%;
  margin: 30px auto;
}
.thumbs a {
  display: inline-block;
  width: 18.7%;
  margin-left: 1%;
  transition: all 0.2s ease-in-out;
}
.thumbs a:hover{
  opacity: 0.6;
}
.thumbs a:first-child {
  margin-left: 0;
}
.thumbs img {
  width: 100%;
  height: 100%;
  /*border: 1px solid #ccc;*/
  /*padding: 5px;*/
}
.tab-content > table {
  cursor:default;
  /* font-size: 1rem; */
  color: #333;
  letter-spacing: -1px;
  border-collapse: collapse;
  text-indent: 20px;
  text-align: left;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  width: 100%;
}
.tab-content > table tr {
  width: 80%;
  /* width: 100%; */
  /* outline: 4px solid yellow; */
}
.tab-content > table span {
  display: block;
}
.tab-content > table ul {
  margin: 10px 0;
}
.tab-content > table ul li {
  margin: 5px 0;
}
.tab-content > table tr th {
  background-color: #f4f4f4;
  line-height: 80px;
  width: 20%;
}
.tab-content > table tr:hover th{
text-decoration: underline;
font-weight: 500;
}
.tab-content > table table {
  text-indent: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  /* outline: 4px solid rgb(80, 190, 204); */
  border: #e2e2e2;
}
.tab-content > table table tr {
  width: 100%;
  line-height: 35px;
}
.tab-content > table table th {
  line-height: 50px;
  width: 10;
  width: 50%;
  background-color: #fffdfd;
}

.tab-content > iframe {
  padding: 30px 0;
  width: 100%;
  height: 300px;
}
